h1 {
    text-align: center;
    background-color: lightblue;
}

#wrapper {
    text-align: center;
}

#start {
    text-align: center;
}

button {
    font-weight:bold;
}

body {
    background-color: lightgrey;
}

#questions {
    font-weight: bold;
    text-align:center;
}

#countdown {
    text-align:center;
}

#submit {
    text-align:center;
}